<app-header></app-header>
<div class="content" role="main">
  <div class="card-container" *ngFor="let car of cars">
    <section class="card">
      <img
        width="80"
        height="80"
        style="border-radius: 2em; padding: 0.5em;"
        alt="{{car.car_model_name}} image"
        src="{{car.cover_img}}"
      />
      <section class="card-details">
          <h2>Company    : {{car?.company_name}}</h2>
          <h2>Rent Price : ₹{{car?.car_rental_price}} /-</h2>
          <h2>Model Name : {{car?.car_model_name}}</h2>
          <h2>Ratings    : {{car?.ratings}} ⭐</h2>
          <app-button [car]="car"></app-button>
      </section>
    </section>

  </div>
</div>


<router-outlet></router-outlet>
