button {
    background-color: #4A55A2;
    width: 100px;
    border-radius: 0.5em; 
    cursor: pointer;
    padding: 0.3em;
    color: whitesmoke;
}
#content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: black;
}